.d-in-bl{
    display: inline-block;
}
.logo{
    vertical-align: middle;
    padding:69px 150px 69px 162px;
}
.nav{
    vertical-align: middle;
}
.nav-li{
    margin-right: 50px;
    font-size: 20px;
}
.div1{
    margin-left: auto;
    margin-right: auto;
}
.h3{
    font-family: "ALK Rounded Nusx Med", sans-serif;
}
.h3{
    font-size: 36px;
    color: #7EB693;
    margin:72px 0px 6px 190px
}
.h1{
    font-family: 'Arial GEO Bold';
}
.h1{
    font-size: 50px;
    color: #274C5B;
    margin-left: 190px;
}
.P-main{
    font-family: 'Bungee';
}
.p-main{
    font-size: 18px;
    color: #525C60;
    margin:25px 0px 36px 190px;
}
.div-notim{
    width: 339px;
    height: 81px;
    background-color: #ECECEC;
    margin: 36px 0px 12px 190px;
}
.h5{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.h5{
    font-size: 18px;
    color: #274C5B;
    vertical-align: middle;
}
.img{
    padding:29px 91px 29px 27px;
    vertical-align: middle;
}
.p2{
    font-size: 18px;
    color: #525C60;
    margin:12px 0px 24px 250px;
}
.main{
    width: 1400px;
    height: 640px;
    margin-left: auto;
    margin-right: auto;
}
.div-text{
    width: 671px;
    height: 624px;
    margin-left: auto;
    margin-right: auto;
}
.img2{
    width: 600px;
    height: 400px;
    margin-left: 51px;
}
.section1{
    background-color: #F9F8F8;
}
.sec{
    width: 1400px;
    height: 1050px;
    margin-left: auto;
    margin-right: auto;
}
.bottom{
    width: 1118px;
    height: 335px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 91px;
}
.div-bot{
    width: 257px;
    height: 335px;
    background-color:#FFFFFF;
}
.div-bot2{
    width: 257px;
    height: 335px;
    background-color:#FFFFFF;
    margin: 0px 30px;
}
.div-bot3{
    width: 257px;
    height: 335px;
    background-color:#FFFFFF;
    margin-right: 30px;
}
.h2bot{
    font-size: 25px;
    color: #274C5B;
    padding:29px 83px 20px 22px;
    vertical-align: middle;
}
.pbot{
    font-size: 18px;
    color: #525C60;
    vertical-align: middle; 
    padding: 20px 37px 142px 22px;
     text-align: center; 
}
